<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.6.4" targetFramework="net472" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.21.12" targetFramework="net472" />
  <package id="ImageClassification" version="2.0.0.1" targetFramework="net472" />
  <package id="ImageClassification.IO" version="2.0.0" targetFramework="net472" />
  <package id="ImageClassificationGPU" version="2.0.0" targetFramework="net472" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.148" targetFramework="net472" />
  <package id="Microsoft.ML" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.CpuMath" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.DataView" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.ImageAnalytics" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.TensorFlow" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.Vision" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="NumSharp.Lite" version="0.1.12" targetFramework="net472" />
  <package id="Protobuf.Text" version="0.5.0" targetFramework="net472" />
  <package id="SciSharp.TensorFlow.Redist" version="2.10.0" targetFramework="net472" />
  <package id="SciSharp.TensorFlow.Redist-Windows-GPU" version="2.10.0" targetFramework="net472" />
  <package id="Serilog" version="2.12.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="4.1.0" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="TensorFlow.NET" version="0.70.2" targetFramework="net472" />
</packages>